*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding-top: 20px 0;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
}
.header__logos{
    display: flex;
    align-items: center;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 96px;
    list-style: none;
}
.header__link{
    color: #222222;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.header__btn{
    border: 2px solid #de2e54;
    border-radius: 8px;
    width: 225px;
    padding: 10px 0;
    background-color: #ffffff;
    color: #de2e54;
    font-family: "Open Sans Condensed";
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero__btn{
    background-color: #de2e54;
    color: #ffffff;
}
.hero{
    position: relative;
    padding-top: 50px;
    background-size: cover;
    padding-bottom: 217px;
    background-image: url("./images/herobg.png");
    background-repeat: no-repeat;
}
.hero__textbox{
    width: 500px;
}
.hero__title{
    color: rgb(255, 255, 255);
    font-family: "Open Sans Condensed";
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
}
.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__wrapper > img {
    position: absolute;
    right: 200px;
    top: 0px;
}
.Manual_textbox{
    margin-bottom: 100px;
    position: relative;
}
.Manual_title{
    width: 133px;
    height: 25.06px;
    left: 653px;
    right: 654px;
    top: 700.93px;
    bottom: 140.01px;
    position: absolute;
    top: 0;
    left:500px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 700;
    font-family: Open Sans Condensed;
    letter-spacing: 0px;
    text-align: left;
    line-height: 120%;
}

.title_box_text{
    position: absolute;
    left: 250px;
    top: 40px;
    flex: none;
    display: flex;
    margin: 24px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex-direction: column;
    width: 82px;
    height: 29px;
    font-family:"Open Sans";
}
.mini_text{
    height: 96px;
    width: 600px;
    position: absolute;
    top: 100px;
    left: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Open Sans";
    padding: 0px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(68, 68, 68);
}
.title_box{
    position: relative;
}
.Manual_img{
    position: absolute;
    left: 0;
}
.Super_textbox{
    position: relative;

}
.super_titlebox{
    position: absolute;
    bottom: 0;
    bottom: 0;
    top: 200px;
}
.Super_text{
    margin-top: 23px;
    height: 72px;
    width: 600px;
}
.Super_img{
    position: absolute;
    left: 650px;
    
    top: 150px;
}
 .Blue{

     width: 1440px;
     height: 669px;
     left: 40px;
     right: -1px;
     top: 1447px;
     bottom: -1447px;
     background: rgb(14, 180, 193);
     position: absolute;
 }
 .blue_image{
    position: absolute;
    top: -150px;
    left: 164px;
 }
 .blue_image2{
    position: absolute;
    top: -150px;
    left: 555px;
}
.blue_image3{
    top: -150px; 
    position: absolute;
    left: 946px;
} 
.blue4{
    position: absolute;
    top: 264px;
    left: 163px;
}
.blue_form{
    position: absolute;
    right: 20px;
    top: 284px;
    border-radius:10px;
    width: 540px;
    height: 331px;
    background-color: #ffffff;
}
.new{
    position: absolute;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: -20px;
    margin: 40px 40px;
    border: 1px solid rgb(94, 84, 164);
}
.new2{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 40px;
    margin: 40px 40px;
    border: 1px solid rgb(94, 84, 164);

}
.new3{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top:100px;
    margin: 40px 40px;
    border: 1px solid rgb(94, 84, 164);

}
.new4{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 160px;
    margin: 40px 40px;
    border: 1px solid rgb(94, 84, 164);

}
.form_btn{
    border-radius: 5px;
    margin: 0px 40px;
    position: absolute;
    top: 260px;
    height: 50px;
    width: 400px;
    color: #ffffff;
    background-color: rgb(56, 204, 139);
}
.footer{
    position: absolute;
    top: 2116px;
    right: 40px;
    background-color: #000;
    height: 97.94px;
    width: 1440px;
}
.footer_list{
    position: absolute;
    right: 0;
    bottom: 40px;
}
.footer_liink{
    position: absolute;
    right: 500px;
    color: rgb(222, 46, 84);
   text-decoration: none; 
}

.footer_link{
    right: 401px;
    position: absolute;
    color:#ffffff;
    text-decoration: none;
}
.footer_link2{
    right: 301px;
    position: absolute;
    color:#ffffff;
    text-decoration: none;
}.footer_link3{
    right: 201px;
    position: absolute;
    color:#ffffff;
    text-decoration: none;
}.footer_link4{
    right: 101px;
    position: absolute;
    color:#ffffff;
    text-decoration: none;
}